

@font-face {
  font-family: poppinsSemiBold;
  src: url(./Assets/fonts/Poppins-SemiBold.ttf);
}
.semiBold {
  font-family: poppinsSemiBold !important;
}
@font-face {
  font-family: poppinsMedium;
  src: url(./Assets/fonts/Poppins-MediumItalic.ttf);
}
.poppinsMedium{
  font-family: poppinsMedium !important;
}
@font-face {
  font-family: poppinsMed;
  src: url(./Assets/fonts/Poppins-Medium.ttf);
}
.poppinsMed{
  font-family: poppinsMed !important;
}
@font-face {
  font-family: poppinsBold;
  src: url(./Assets/fonts/Poppins-Bold.ttf);
}
.extraBold{
  font-family: poppinsBold !important;
}
@font-face {
  font-family: poppinsSemiBoldItalic;
  src: url(./Assets/fonts/Poppins-SemiBoldItalic.ttf);
}
.extraSemiBoldItalic{
  font-family: poppinsSemiBoldItalic !important;
}
@font-face {
  font-family: poppinsExtraBoldItalic;
  src: url(./Assets/fonts/Poppins-ExtraBoldItalic.ttf);
}
.extraBoldItalic{
  font-family: poppinsExtraBoldItalic !important;
}
